@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

#item-pannel:hover > #item-name{
  text-decoration: underline;
}

#head-bar{
  background-image: url("../public/pickled-cucumbers-glass-jars-blue-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
}

#head-bar-tint{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 1;
}